# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
env/
.venv/
ENV/

# Flask instance folder
instance/
.webassets-cache

# Pytest cache
.pytest_cache/

# VSCode settings
.vscode/

# MyPy
.mypy_cache/

# macOS
.DS_Store

# Environment variables
.env

# Logs and databases
*.log
*.sqlite
*.db
